*.log
log/*.log
*.pyc
*.pyo
*.py~
.project
.pydevproject
.pydevproject.bak
.installed.cfg
bin
src/*.egg-info
lib/buildout
eggs
dlcache
out
.coverage
.DS_Store
.settings/
.metadata/
.vagrant/
Cheffile.lock
*.sql
cookbooks/
log/
tmp/
.idea/
src/uploads/*
*.sqlite3
