pip install decorator==4.0.10
pip install Django==1.9.2
pip install django-hitcount==1.2.2
pip install django-wysiwyg-redactor==0.4.9
pip install Pillow==3.4.1
pip install Pygments==2.1.3
pip install pytz==2016.7
